<header>
  <div class="profile-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg fixed-top bg-primary">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="/home" rel="tooltip">Home</a>

          <button
            *ngIf="!authService.isAuthenticated()"
            class="btn btn-rouded btn-primary"
            type="button"
            [routerLink]="['/login/']"
          >
            Login
          </button>

          <button
            (click)="logout()"
            *ngIf="authService.isAuthenticated()"
            class="btn btn-rouded btn-primary"
            type="button"
          >
            Log Out: {{ authService.usuario.username }}
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
