<div class="section" id="proyectos">
  <div class="container">
    <div class="h4 text-center mb-4 title">Proyectos</div>
    <div class="card">
      <div class="row m-3">
        <div *ngFor="let web of web" class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ web.nombre }}</h5>
              <p class="card-text">
                {{ web.descripcion }}
              </p>
              <div class="d-flex justify-content-evenly">
                <a href="http://{{ web.url }}" class="btn btn-primary">Web</a>
                <a href="{{ web.git }}" class="btn btn-primary">Codigo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
