<div class="container">
  <div class="h4 text-center mb-4 title">Proyectos</div>
  <button
    *ngIf="authservice.hasRole('ROLE_ADMIN')"
    type="button"
    name="Crear"
    [routerLink]="['/form4']"
    class="btn btn-primary btn-sm p-2"
  >
    Agregar Nuevo Proyecto
  </button>
  <div class="card">
    <div class="row m-3">
      <div *ngFor="let web of web" class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ web.nombre }}</h5>
            <p class="card-text">
              {{ web.descripcion }}
            </p>
            <div class="d-flex justify-content-evenly">
              <a
                href="http://{{ web.url }}"
                class="btn btn-primary"
                target="_blank"
                rel="tooltip"
                title="Web"
                >Web</a
              >
              <a
                href="http://{{ web.git }}"
                class="btn btn-primary"
                target="_blank"
                rel="tooltip"
                title="Github"
                >Codigo</a
              >
            </div>
            <div class="d-flex p-1">
              <button
                *ngIf="authservice.hasRole('ROLE_ADMIN')"
                type="button"
                name="editar"
                [routerLink]="['/form4', web.id]"
                class="btn btn-primary btn-sm p-2 m-2"
              >
                Editar
              </button>
              <button
                *ngIf="authservice.hasRole('ROLE_ADMIN')"
                type="button"
                name="eliminar"
                (click)="delete(web)"
                class="btn btn-danger btn-sm p-2 m-2"
              >
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
