<div class="container">
  <div class="row my-5">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Login</h2>
      <div class="text-center mb-5 text-dark">{{ titulo }}</div>
      <div class="card my-2">
        <form method="post" class="card-body cardbody-color p-lg-5">
          <div class="text-center">
            <img
              src="/assets/ARGPROG.jpg"
              class="profile-image-pic img-thumbnail my-3"
              width="200px"
              alt="profile"
            />
          </div>

          <div class="mb-3">
            <input
              [(ngModel)]="usuario.username"
              type="text"
              class="form-control"
              name="usermane"
              id="username"
              aria-describedby="emailHelp"
              placeholder="Nombre de Usuario"
              autofocus
              required
            />
          </div>
          <div class="mb-3">
            <input
              [(ngModel)]="usuario.password"
              name="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="text-center">
            <button
              (click)="login()"
              type="submit"
              class="btn btn-color px-5 mb-5 w-100"
            >
              Ingresar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
