<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div
        class="skills d-flex flex-row justify-content-around bd-highlight mb-1 p-2"
      >
        <div *ngFor="let habilidades of habilidades">
          <div class="d-block m-2 p-4">
            <h3 class="mb-1">{{ habilidades.nombre }}</h3>
            <button
              *ngIf="authservice.hasRole('ROLE_ADMIN')"
              type="button"
              name="editar"
              [routerLink]="['/form2', habilidades.id]"
              class="btn btn-primary btn-sm p-2"
            >
              Editar
            </button>
          </div>
          <div
            class="circular-progress progress-{{ habilidades.porcentaje }}"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
