<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div
        class="page-header-image"
        data-parallax="true"
        style="background-image: url('assets/introduction.jpg')"
      ></div>
      <div *ngFor="let basico of basico" class="container">
        <div class="content-center">
          <div class="profile-image">
            <img
              src="http://localhost:8080/api/uploads/img/{{ basico.foto }}"
              alt="{{ basico.foto }}"
            />
            <button
              *ngIf="authservice.hasRole('ROLE_ADMIN')"
              [routerLink]="['/ver', 1]"
              class="btn btn-primary btn-sm"
            >
              Editar
            </button>
          </div>
          <div class="h2 title">
            {{ basico.nombre }}
          </div>
          <p class="category text-white">Full STack Developer Jr</p>
          <div class="profile-image2">
            <a href="#">
              <img src="assets/logo2.png" alt="Image2" />
            </a>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.facebook.com/SIXTO87/"
              target="_blank"
              rel="tooltip"
              title="Seguime en Facebook"
            >
              <i class="fa fa-facebook"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.instagram.com/matias_bon/"
              target="_blank"
              rel="tooltip"
              title="Seguime en Instagram"
            >
              <i class="fa fa-instagram"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.linkedin.com/in/matias-bonfanti-31a557144/"
              target="_blank"
              rel="tooltip"
              title="Seguime en Linkedin"
            >
              <i class="fa fa-linkedin"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://github.com/sixto87"
              target="_blank"
              rel="tooltip"
              title="Seguime en Github"
            >
              <i class="fa fa-github"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://twitter.com/MBonfantii/"
              target="_blank"
              rel="tooltip"
              title="Seguime en Twitter"
            >
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
